body {
    background-color: #000;
    color: #fff;
    font-family: "Circular Std Book", sans-serif;
  }
  
  #container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border: 5px solid rgba(66, 66, 66, 0.204);
    border-radius: 1rem;
    padding: 1rem;
  }

  h2 {
    font-size: 0.5rem;
   padding: 2rem;
    opacity: 0.09;
    transition: all 0.5s ease-in-out;
  }

  h2:hover {
  font-size: 2rem;
   padding: 3rem;
  opacity: 0.9;
  
    transition: all 1s ease-in-out;
  }
  
  #task {
    font-size: 2rem;
    margin-bottom: 1rem;
    border: 5px solid rgba(66, 66, 66, 0.204);
    border-radius: 1rem;
    padding: 5rem;
  }
  
  #timer {
    font-size: 10rem;
    margin-bottom: 2rem;
    border: 5px solid rgba(66, 66, 66, 0.204);
    border-radius: 1rem;
    padding: 5rem;
  }
  
  #clock {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: rgb(183, 183, 183);
  }
  
  #skip-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid #909090;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: #908f8f;
    cursor: pointer;
    opacity: 0.1;
    transition: all 0.5s ease-in-out;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #skip-btn:hover {
    background-color: rgba(17, 187, 17, 0.88);
    opacity: 1;
    border: 2px solid rgb(66, 66, 66);
    color: #292929;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
  }
  
  .show {
    display: block;
  }
  
  